// Blue
$main-blue:                 #4CB7FF;
$secondary-blue:            #36A9E0;
$thirdy-blue:               #0094da;
$dark-blue:                 #2771b4;

// Red
$red-error:                 #fB4C4C;

// Orange
$orange-light:              #FFCC00;
$orange-dark:               #F39200;

// Gray
$gray-light:                #B2B2B1;
$secondaty-gray:            #E4E4E4;
$gray-bg:                   #f4f4f4;

// Black
$black:                     #1c1c1b;
$black-text:                #616161;
