$cover-width: 80px;

.ay-main {
  padding-top: 15px;

  .ay-folders {

    .folders-title {
      font-size: 16px;
      color: $black-text;
      border-top: 1px solid #ececec;
      padding-top: 10px;
      margin-top: 20px;
    }

    .ay-folders-card {
      display: table;
      width: 100%;
      background: #fff;
      border-top: 1px solid #ececec;
      border-bottom: 2px solid #ececec;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
      border-radius: 3px;
      margin-bottom: 10px;
      text-decoration: none;

      .folders-card-personal {
        padding: 25px 20px;

        .personal-title {
          font-size: 20px;
        }
      }

      .folders-card-cover {
        width: $cover-width;
        padding: 10px;
        display: table-cell;
        vertical-align: middle;

        img {
          width: $cover-width;
          height: $cover-width;
          border-radius: 50%;
        }
      }

      .folders-card-details {
        display: table-cell;
        vertical-align: middle;

        p {
          margin: 0;
          color: $black-text;
        }

        .details-name {
          font-size: 22px;
          padding-bottom: 10px;
        }

        .details-time {
          font-size: 14px;

          i {
            font-size: 16px;
            color: $secondary-blue;
            padding-right: 5px;
          }
        }
      }

      .folders-card-icon {
        font-size: 24px;
        color: $black-text;
        width: 40px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-left: 1px solid #e9e9e9;
      }
    }
  }
}